---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import TrackPreview from '../../components/TrackPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths() {
    const tracks = (await getCollection('music')).sort(sortItemsByDateDesc);
    const trackCount = tracks.length;
    return tracks.map((track, index) => ({
        params: { id: track.id },
        props: {
            track: track,
            prevTrack: index + 1 !== trackCount ? tracks[index + 1] : null,
            nextTrack: index !== 0 ? tracks[index - 1] : null
        }
    }));
}

type Props = {
    track: CollectionEntry<'music'>;
    prevTrack: CollectionEntry<'music'>;
    nextTrack: CollectionEntry<'music'>;
};

const { track, prevTrack, nextTrack } = Astro.props;
const { title, description, seo } = track.data;
const { Content } = await render(track);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="font-serif text-3xl leading-tight font-light sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="prose sm:prose-lg max-w-none">
            <Content />
        </div>
    </article>
    {
        (prevTrack || nextTrack) && (
            <div class="my-16 sm:my-24">
                <h2 class="mb-12 font-serif text-xl sm:mb-16 sm:text-2xl">View Next</h2>
                {nextTrack && <TrackPreview track={nextTrack} class="mb-10 sm:mb-12" headingLevel="h3" />}
                {prevTrack && <TrackPreview track={prevTrack} class="mb-10 sm:mb-12" headingLevel="h3" />}
            </div>
        )
    }
</BaseLayout>
